@import "@styles/variables.scss", "@styles/mixins.scss";

.orderCard{
    text-align: center;
    padding: 25px;

    &__title{
        text-transform: uppercase;
        color: $barn-red;
        padding: 10px 0;
        border-bottom: 2px solid $pink;
        margin-bottom: 15px;
    }

    &__resume{
        background-color: rgba($pink, .5);
        text-align: left;
        font-size: 1.2rem;
        padding: 25px 10px;
    }

    &__label{
        color: rgba($dark-grey, .8);
        font-weight: 700;
        margin: 5px 0;
        
        strong{
            color: $barn-red;
            text-transform: uppercase;
        }
    }

    @include toResolution($tablet) {
        max-width: $tablet;
        margin: auto;
    }
}