@import "@styles/variables";

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding:0;
    border:none;
    outline: none;
    margin:0;
}
html, body{
    position: relative;
    background-color: #FFF;
    font-size: 100%;
    width: 100%;
    height: fit-content;
}

a{
    text-decoration: none;
}