/*colors*/
$platinum: #d8e2dcff;
$unbleached-silk: #ffe5d9ff;
$pink: #ffcad4ff;
$mountbatten-pink: #9d8189ff;
$barn-red: #780000ff;
$dark-grey: #0e0e0e;
/*Resolution*/
$mobile: 414px;
$tablet: 769px;
$desktop: 990px;
